.header, .h2, .letter-header, .the-letter {
    text-align: center;
    font-weight: bold;
}

.header {
    background-color: aqua;
    color: darkmagenta;
    font-size: 3em;
    width: 60%;
    margin-left: 20%;
}



.footer {
    background-color: aqua;
    color: darkmagenta;
    text-align: center;
    margin: 10% 0 0 38%;
    width: 25%;
}