body {
    background-image: url("../assets/images/fog.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 6%;
}

.header, .h2, .letter-header, .the-letter {
    text-align: center;
    font-weight: bold;
}

.header {
    color: #696969;
    font-size: 3em;
    width: 60%;
    margin-left: 20%;
}

.the-letter {
    font-size: 3em;
    color: #a9a9a9;
    padding-bottom: 2px;
    text-decoration: underline;
}

.score-board {
    text-align: center;
    width: 25%;
    margin-left: 37%;
}

.button {
    margin-left: 43%;
    border-radius: 50%;
    border: solid;
    padding: 15px;
    background-color: #ffd700;
    font-weight: bolder;
    text-shadow: 1px 1px black, -1px -1px whitesmoke;
    color: #ffd12a;
    font-size: 1.5em;
}

.warning {
    padding: 2%;
    width: 54%;
    margin: 1% 0 0 22%;
    line-height: 1.6em;
    background-color: #fffafa;
    opacity: 0.4;
}

.footer {
    color: #696969;
    text-align: center;
    margin: 3% 0 0 38%;
    width: 25%;
}