html,
body {
  margin: 0;
  height: 100vh;
  background-image: url("../assets/images/fog.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  font-weight: 100;
  width: max-content;
  margin: auto;
  color: #696969;
  font-size: 3rem;
}

.instructions,
.letter-header,
.the-letter {
  text-align: center;
}

.the-letter {
  font-size: 4em;
  color: #a9a9a9;
  padding-bottom: 2px;
  text-decoration: underline;
}

.score-board {
  text-align: center;
  width: max-content;
  margin: auto;
}

.button {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  padding: 15px;
  background-color: #ffd700;
  font-weight: bolder;
  color: whitesmoke;
  font-size: 1.5rem;
}

.warning {
  padding: 2%;
  width: 54%;
  margin: 1% 0 0 22%;
  line-height: 1.6rem;
  background: rgba(255, 250, 250, 0.4);
  border-radius: 5px;
}

.footer {
  color: #f8f8f8;
  text-align: center;
  padding: 4px;
}
